List of guilds for the game
<ul>
  {{#each arr}}
    <li>
        <form method="post" action="inguild">
          <input type="hidden" name="name" value = {{_id}}>
          <button type="submit">
              <p>{{name}} - {{description}} 0/{{memberLimit}}</p>
          </button>
        </form>
    </li>
  {{/each}}
<ul>
