List of guilds for the game

<ul>
  <li>
    <form method="post" action="inguild">
      <input type="hidden" name="name"> <!--value={{id}}-->
      <button type="submit">
        Post to load guild page for specific guild {{name}}
      </button>
    </form>
  </li>
<ul>
