List of guilds for the game



<ul>
  <li>
    <form method="post" action="inguild">
      <input type="hidden" name="name"> <!--value={{id}}-->
      <button type="submit">
        {{#each arr}}
          <p>{{arr}}</p>
        {{/each}}
      </button>
    </form>
  </li>
<ul>
