List of Games
<div>
  <table>

  {{#each arr}}
    <tr>
      <td>
        <a href = "/guilds?name={{game}}">{{game}}</a>
      </td>
      <td>
        <a href = "/guilds?name={{game}}"><img src = {{img}}></a>
      </td>
    </tr>
  {{/each}}
  </table>

  <p>Can't find your game? <a href = "/addGame">Click here</a> to add it! </p>
</div>
