<form method="post" action="">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <input type="submit" value="Login" name="login">
  <a href = "/register"><button type="button">Register</button></a>
</form>
<p>{{msg}}</p>
<script>
  document.getElementById("loginButton").style.display = "none";
</script>
