<form method="post" action="">
  Username: <input type="text" name="username">
  Password: <input type="text" name="password">
  <input type="submit" value="Login" name="login">
  <input type="submit" value="Register" name="register">
</form>
