<form method="post" action="">
  <input type = "hidden" value = {{game}} name = "game">
  Guild Name: <input type="text" name="name">
  Guild Img Url: <input type="text" name="img">
  Guild Description: <input type="text" name="desc">
  <button type="submit">
  </button>
</form>
