<h2>{{guild.name}}</h2>
<p>{{guild.description}}</p>
<form method = "post" action = "">
  <input type = "hidden" name="guild" value = {{guild._id}}>
  <input type = "hidden" name="memberCout" value = {{guild.memberCount}}>
  <input type = "submit" value = "join">
<form>
