<form method="post" action="" id="register">
  Username: <input type="text" name="username" id="username"> </br>
  Password: <input type="text" name="password" id="password"> </br>
  Confirm Password: <input type="text" name="password2" id="password2"> </br>
  Email: <input type="text" name="email" id="email"> </br>
  <div class="g-recaptcha" data-sitekey="6LfSjuAZAAAAAC7AUH_5F5OZQWzwGxtNC1yitYAl"></div> <br/>
  <input type="submit" value="Register" name="register">
</form>
{{msg}}
<script>
  document.getElementById("loginButton").style.display = "none";
</script>
