<form method="post" action="">
  Username: <input type="text" name="username"> </br>
  Password: <input type="text" name="password"> </br>
  Confirm Password: <input type="text" name="password2"> </br>
  Email: <input type="text" name="email"> </br>
  <div class="g-recaptcha" data-sitekey="6LfSjuAZAAAAAC7AUH_5F5OZQWzwGxtNC1yitYAl"></div> <br/>
  <input type="submit" value="Register" name="register">
</form>
