body {
	font-family: sans-serif;
	background-color: black;
	color:white;
}

img{
	height: 300px;
	width: 300px;
}

a{
	color: white;
}
#loginButton{
	float: right;
}

#loggedInAs{
	position:fixed;
	bottom: 0;

}
#memberContainer{
	float:right;
}
#guildMembers{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding:100px;
}

#chat{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.notVisible{
	visibility: hidden;
}


.hidden{
	display:none !important;
}
