body {
	font-family: sans-serif;
	background-color: black;
	color:white;
}

img{
	height: 300px;
	width: 300px;
}

a{
	color: white;
}

nav{
	position: fixed;
	display:block;
	width: 100%;
	height: 50px;
}

.container{
	padding-top: 50px;
}
#loginButton{
	float: right;
}

#loggedInAs{
	position:fixed;
	top: 0;
	right: 0;
}
#memberContainer{
	float:right;
}
#guildMembers{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding:100px;
}

#chat{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#indexContainer{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.notVisible{
	visibility: hidden;
}


.hidden{
	display:none !important;
}

.searchBar{
	margin: auto;
}
